


body{
    padding-top: 65px;
    text-align: left;
	
}

img{
    height:150px;
    width:300px;
}

.cabeceraProducto{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;    
    
    color:black;
    float: none;
    margin: 0 auto;
}

.imagenFix{
    min-height: 140px;
}

.espaciador{
    min-height: 30px;
}

#listado{
    text-align: left;
    position:relative;
    
    
}

.imagenFix, .btn1, .btn2, .descip, .descip2{

    float: none;
    margin: 0 auto;
}

.navbar-toggle {
  float: left !important;
  margin-left: 15px;
  color:white
}

.navbar-header.navbar-right.pull-right {
  margin-right: 15px;
  color:white
}

.navbar-right > li {
  float: left;
  color:white
}

#navx{

    background-color: #494E56;
    
    
}
